body {
    /*padding-top: 50px;*/
}

    body.login-body {
        height: 100vh;
        padding-top: 0px;
    }
.body-content {
    min-height: 90vh;
}
.login-body .navbar-fixed-bottom {
    background-color: #263238;
}

.login-body .container {
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.login-layout {
    background-image: url(../images/login-background.jpg);
    background-size: cover;
    min-height: 100%;
}

#loginForm {
    padding: 200px 0;
}

#loginForm .control-label, #loginForm h1, #loginForm h4 {
    color: #fff;
}

.container {
    width: 100%;
}

.panel .page-header {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.unsorted-header::before,
.headerSortDown::before,
.headerSortUp::before {
    display: inline-block;
    font-family: 'FontAwesome';
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
    -moz-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-language-override: normal;
    -moz-font-language-override: normal;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 5px;
    text-rendering: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.unsorted-header,
.headerSortDown,
.headerSortUp {
    text-decoration: none !important;
    color: #263238;
}

.unsorted-header::before {
    content: "\f0dc";
}

.headerSortDown::before {
    content: "\f0dd";
}

.headerSortUp::before {
    content: "\f0de";
}

.table td, .table th {
   text-align: center;   
}

@media only screen and (max-width: 991px) {
  .list-count-container {
    margin-top: 10px;
    width: auto;
  }
}

.pagination-container {
    margin-bottom: 0px;
}

    .pagination-container .pagination {
        margin-top: 25px;
    }

.navbar-default {
    background-color: #263238;
    border-color: #263238;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.list-count-container {
    margin: 10px 0;
    font-weight: bold;
    color: #263238;
}

footer.internal {
    padding: 10px 0;
    background-color: #263238;
}

    footer.internal p {
        color: #FFFFFF;
        margin: 0px;
    }

.icon-active {
    color: #26a69a;
}

.icon-inactive {
    color: #e53935;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-userinfo {
    background-color: #b0bec5;
    border: 1px solid #b0bec5;
    margin-bottom: 20px;
}

.navbar-userinfo .navbar-nav > li {
    padding: 5px;
}
.navbar-userinfo .navbar-nav > li > span {
    line-height: 19px;
    font-weight: bold;
}
.navbar-userinfo .navbar-nav > li > a {
    line-height: 19px;
    font-weight: bold;
    padding: 0px;
}
    .navbar-userinfo .navbar-nav > li > a:hover {
        background: none;
    }

.__lnkDelete, .__lnkEdit {
    color: #000000;
}

.__colItemEdit {
    font-weight: bold !important;
    text-decoration: underline !important;
}