* {
    border-radius: 0px !important;
}
body {
    padding-top: 70px;
    padding-bottom: 50px;
}

    body.login-body {
        height: 100vh;
        padding-top: 0px;
        padding-bottom: 70px;
    }
.body-content {
    min-height: 80vh;
}
.login-body .navbar-fixed-bottom {
    background-color: #263238;
    min-height: 75px;
}

.login-body .container {
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.login-layout {
    background-image: url(../images/login-background.jpg);
    background-size: cover;
    min-height: 100%;
}

#loginForm {
    padding: 200px 0;
}

#loginForm .control-label, #loginForm h1, #loginForm h4 {
    color: #fff;
}

.container {
    width: 100%;
}

.panel .page-header {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
}

.unsorted-header::before,
.headerSortDown::before,
.headerSortUp::before {
    display: inline-block;
    font-family: 'FontAwesome';
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
    -moz-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-language-override: normal;
    -moz-font-language-override: normal;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 5px;
    text-rendering: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.unsorted-header,
.headerSortDown,
.headerSortUp {
    text-decoration: none !important;
    color: #263238;
}

.unsorted-header::before {
    content: "\f0dc";
}

.headerSortDown::before {
    content: "\f0dd";
}

.headerSortUp::before {
    content: "\f0de";
}

.table td, .table th {
   text-align: center;   
}

@media only screen and (max-width: 991px) {
  .list-count-container {
    margin-top: 10px;
    width: auto;
  }
}

.pagination-container {
    margin-bottom: 0px;
}

    .pagination-container .pagination {
        margin-top: 25px;
    }

.navbar-default {
    background-color: #263238;
    border-color: #263238;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li:hover {
    background-color: #263238;
}