<li class="left-menu-list-separator"><!-- --></li>
<li>
    <a class="left-menu-link" href="/Dashboard/BranchManager/Index">
        <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
        Dashboard
    </a>
</li>

<li class="left-menu-list-separator"><!-- --></li>
<li>
    <a class="left-menu-link" href="/Branch/Organization/Index">
        <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
        Organizations
    </a>
</li>
