<li class="left-menu-list-separator"><!-- --></li>
<li>
    <a class="left-menu-link" href="/Dashboard/SuperUser/Index">
        <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
        Dashboard
    </a>
</li>

@if (UserHelper.Instance.Get().BranchName == BranchInfo.HO)
{
    <li class="left-menu-list-separator"><!-- --></li>
    <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
            <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i>
            Policy Configuration
        </a>
        <ul class="left-menu-list list-unstyled">
            <li>
                <a class="left-menu-link" href="/HO/Branch/Index">
                    Branch Management
                </a>
            </li>
        </ul>
    </li>
}
@if (UserHelper.Instance.Get().BranchName != BranchInfo.HO)
{
    <li class="left-menu-list-separator"><!-- --></li>
    <li>
        <a class="left-menu-link" href="/Branch/Organization/Index">
            <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
            Organizations
        </a>
    </li>
}
