<li class="left-menu-list-separator"><!-- --></li>
<li>
    <a class="left-menu-link" href="/Dashboard/AreaCoordinator/Index">
        <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
        Dashboard
    </a>
</li>
