<li class="left-menu-list-separator"><!-- --></li>
<li>
    <a class="left-menu-link" href="/Dashboard/SuperUser/Index">
        <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
        Dashboard
    </a>
</li>

@if (UserHelper.Instance.Get().IsHeadOffice)
{
    <li class="left-menu-list-separator"><!-- --></li>
    <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
            <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i>
            Policy Configuration
        </a>
        <ul class="left-menu-list list-unstyled">
            <li>
                <a class="left-menu-link" href="/HO/Branch/Index">
                    Branch Setup
                </a>
            </li>
        </ul>
    </li>

    <li class="left-menu-list-separator"><!-- --></li>
    <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
            <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i>
            Component
        </a>
        <ul class="left-menu-list list-unstyled">
            <li>
                <a class="left-menu-link" href="/HO/ComponentType/Index">
                    Component Type Setup
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/HO/Component/Index">
                    Component Setup
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/HO/Component/MapBranch">
                    Branch & Component Mapping
                </a>
            </li>
        </ul>
    </li>

    <li class="left-menu-list-separator"><!-- --></li>
    <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
            <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i>
            Product
        </a>
        <ul class="left-menu-list list-unstyled">
            <li>
                <a class="left-menu-link" href="/HO/ProductType/Index">
                    Product Type Setup
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/HO/Product/Index">
                    Product Setup
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/HO/Product/MapComponent">
                    Component & Product Mapping
                </a>
            </li>
        </ul>
    </li>

    <li class="left-menu-list-separator"><!-- --></li>
    <li class="left-menu-list-submenu">
        <a class="left-menu-link" href="javascript: void(0);">
            <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i>
            Employee
        </a>
        <ul class="left-menu-list list-unstyled">
            <li>
                <a class="left-menu-link" href="/HO/EmployeeType/Index">
                    Employee Type Setup
                </a>
            </li>
            <li>
                <a class="left-menu-link" href="/Common/Employee/Index">
                    Employee Setup
                </a>
            </li>
        </ul>
    </li>
}
@if (!UserHelper.Instance.Get().IsHeadOffice)
{
    <li class="left-menu-list-separator"><!-- --></li>
    <li>
        <a class="left-menu-link" href="/Common/Employee/Index">
            <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
            Employees
        </a>
    </li>
    <li class="left-menu-list-separator"><!-- --></li>
    <li>
        <a class="left-menu-link" href="/Branch/Organization/Index">
            <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
            Organizations
        </a>
    </li>
}
