<li>
    @Html.ActionLink("Dashboard", "Index", new { area = "Dashboard", controller = "SuperUser" })
</li>
@if (UserHelper.Instance.Get().BranchName == BranchInfo.HO)
{
    <li><a class="dropdown-button" href="#!" data-activates="policyDropDown">Policy Configuration<i class="material-icons right">arrow_drop_down</i></a></li>
    <ul id="policyDropDown" class="dropdown-content">
        <li>
            @Html.ActionLink("Branch Management", "Index", new { area = "HO", controller = "Branch" })
        </li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
}
