<li class="left-menu-list-separator"><!-- --></li>
<li>
    <a class="left-menu-link" href="/Dashboard/BranchUser/Index">
        <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
        Dashboard
    </a>
</li>

<li class="left-menu-list-separator"><!-- --></li>
<li>
    <a class="left-menu-link" href="/Common/Employee/Index">
        <i class="left-menu-link-icon icmn-font-size"><!-- --></i>
        Employees
    </a>
</li>

<li class="left-menu-list-separator"><!-- --></li>
<li class="left-menu-list-submenu">
    <a class="left-menu-link" href="javascript: void(0);">
        <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i>
        Center
    </a>
    <ul class="left-menu-list list-unstyled">
        <li>
            <a class="left-menu-link" href="/Branch/Organization">
                Center Setup
            </a>
        </li>
        <li>
            <a class="left-menu-link" href="/Branch/Organization/MapCreditOfficer">
                Center Credit Officer
            </a>
        </li>
    </ul>
</li>

