@{
    ViewBag.Title = "Home Page";
}

<nav class="nav-breadcrumb">
    <div class="nav-wrapper blue-grey darken-3">
        <div class="col s12">
            @RenderSection("breadcrumb")

            <ul class="right hide-on-med-and-down">
                <li><a>Hi Md. Hasib Hasan Tarafder</a></li>
                <li><a>Logged in Head Office</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a>Hi Md. Hasib Hasan Tarafder</a></li>
                <li><a>Logged in Head Office</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </div>
</nav>