@{
    ViewBag.Title = "Dashboard -- Branch User";
}

<div class="dashboard-container">
    <div class="widget widget-four background-transparent">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block">
                    <span class="step-digit">
                        <i class="icmn-database"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Organizations</span>
                        <p>
                            Total: 12
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block">
                    <span class="step-digit">
                        <i class="icmn-users"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Members</span>
                        <p>Total: 24 467</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block step-success">
                    <span class="step-digit">
                        <i class="icmn-stats-growth"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Outstanding</span>
                        <p>
                            Total: 76500
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block step-primary">
                    <span class="step-digit">
                        <i class="icmn-stats-dots"><!-- --></i>
                    </span>
                    <div class="step-desc">
                        <span class="step-title">Collection</span>
                        <p>
                            <span>16078</span>
                            <span>&nbsp;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>