/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.app-container {
    min-height: 846px;
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

footer.page-footer {
    padding-top: 0px;
}

.login-layout {
    background-image: url(images/login-background.jpg);
    background-size: cover;
    min-height: 910px;
}

.login-box {
    margin-bottom: 0px;
}

.brand-logo {
    padding: 100px 20px;
}

.nav-wrapper, .page-footer {
    padding: 0px 20px;
}

.nav-breadcrumb {
    height: 40px;
    line-height: 40px;
}

    .nav-breadcrumb li a {
        font-size: 11px;
    }

.unsorted-header::before,
.headerSortDown::before,
.headerSortUp::before {
    display: inline-block;
    font-family: 'FontAwesome';
    -webkit-font-feature-settings: normal;
    -moz-font-feature-settings: normal;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
    -moz-font-kerning: auto;
    font-kerning: auto;
    -webkit-font-language-override: normal;
    -moz-font-language-override: normal;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    padding-right: 5px;
    text-rendering: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    text-decoration: none;
}

.unsorted-header::before {
    content: "\f0dc";
}

.headerSortDown::before {
    content: "\f0dd";
}

.headerSortUp::before {
    content: "\f0de";
}

.pagination-container {
    margin-bottom: 0px;
}

    .pagination-container .pagination {
        margin-top: 25px;
    }
