/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.app-container {
    min-height: 846px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
    padding-top: 0px;
}

.login-layout {
    background-image: url(images/login-background.jpg);
    background-size: cover;
    min-height: 910px;
}

.login-box {
    margin-bottom: 0px;
}

.brand-logo {
    padding: 100px 20px;
}

.nav-wrapper, .page-footer {
    padding: 0px 20px;
}

.nav-breadcrumb {
    height: 40px;
    line-height: 40px;
}

    .nav-breadcrumb li a {
        font-size: 11px;
    }
