<section class="panel panel-default">

    <div class="panel-body row">
        <div class="col-md-12">
            @using (Html.BeginForm("Setup", "Component", new { area = "HO" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                
            }
        </div>
    </div>
</section>

@section scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/HO/Scripts/Component/MapBranch")
}

